.animate-fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-slide-up {
  animation-name: slideUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  margin-bottom: -256px;
  transform: translate(150px, -200px);
}

@keyframes slideUp {
  0% {
    /* opacity: 0; */
    margin-bottom: 0px;
    transform: none;
  }
  100% {
    margin-bottom: -256px;
    transform: translate(150px, -200px);
  }
}
